{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Cyberpunk 2077</h1>
            <p>The future is here!</p>
        </div>

        <div class="col-4">
            <img src="img/cyberpunk.jpg" alt="" class="img-thumnail">
        </div>
    </div>

{{> footer}}    
